doctype html
html
    title chili-core benchmarks #{version}
    head
        link(rel='stylesheet', href='https://bootswatch.com/superhero/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        style(type='text/css').
            .jumbotron {
            text-align: center;
            }
            .panel-heading {
            text-align: center;
            }
            .panel {
                margin-bottom: 3px;
            }
            .panel-primary > .panel-heading {
                background-color: #BF4869;
            }
            .panel-heading:hover {
                background-color: #502549;
            }
            .progress-bar {
                background-color: #BF4869;
            }
            .progress {
                margin-top: 6px;
                margin-bottom: 0px;
            }
            table {
                margin-top: 16px;
            }
    body
        .jumbotron
            h1 Benchmarks
            p Benchmarks generated using #{version}

        each group, groupId in benchmarks
            .col-xs-8.col-xs-offset-2
                .panel.panel-primary
                    .panel-heading(data-toggle="collapse", href="#" + groupId) #{group.name}
                    .panel-body.collapse(id=groupId)
                        each implementation, implementationId in group.implementations
                            - var id = groupId + "-" + implementationId
                            .panel.panel-default.col-xs-8.col-xs-offset-2
                                .panel-heading(data-toggle="collapse", href="#" + id) #{implementation.name}
                                .panel-body.collapse(id=id)
                                    each benchmark in implementation.benchmarks
                                        .progress
                                            .progress-bar(role='progressbar', style="width:#{benchmark.properties.localIndex}%;")
                                                | #{benchmark.implementation}

                                    table.table.table-striped.table-hover
                                        thead
                                            tr
                                                th Implementation
                                                th Time
                                                th Operations/s
                                        tbody
                                            each benchmark in implementation.benchmarks
                                                tr
                                                    td #{benchmark.implementation}
                                                    td #{benchmark.timeFormatted}
                                                    td #{benchmark.rateFormatted}

                        div.col-xs-8.col-xs-offset-2
                            p Parameters
                            table.table.table-striped.table-hover
                                thead
                                    tr
                                        th Iterations
                                tbody
                                    tr
                                        td #{group.iterations}